.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(233, 47%, 7%);
  color: white;
}

.grid-container {
  background-color: hsl(244, 38%, 16%);
  display: grid;
  grid-template-columns: 1fr auto; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "header side"
    "header side"
    "foot side";
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
} */

.grid-item-1 {
  grid-area: header; 
  
}

.grid-item-2 {
  grid-area: side;
}

.grid-item-3 {
  grid-area: foot; 
}

#header {
  background-color: black;
  font-family: 'Inter';

}

#body {
  background-color: gray;
  font-family: 'Lexend Deca';
}

#stats {
  /* display: grid;
  background-color: brown;
  grid-template-columns: 1fr 1fr 1fr;  */
}