.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(233, 47%, 7%);
  color: white;
}

.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: row;
  min-height: 400px;
  margin: 100px 100px 100px 100px;
}

.card-body {
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
}

#header {
  margin: 50px;
}

.card-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-stats > div {

}

.card-image {
  background-image: url("images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
  min-width: 500px;
}

/* .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
} */

#header {
  font-family: 'Inter';

}

#body {
  font-family: 'Lexend Deca';
}

